<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/estilook.css">
  <title>registro extitoso</title>
</head>

<body>
  <div class="container">
    <div class="card">
      <p> REGISTRO EXITOSO </p>
      <a href="#">Ir al incio</a>
      <a href="#">Iniciar sesión</a>

    </div>
  </div>
</body>

</html>